# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
*.lock

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Web
web/favicon.png

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
